<div class="jumbotron jumbotron-fluid text-center">
  <h1>Alors comme ça {{@auteur->identifiant}}, tu veux pimenter le {{ @numeroJour }} de {{ @victime->identifiant }}</h1>
	<p>Soit sympa, respect son commentaire : <span id="condition">{{ @victime->Conditions }}</span></p>
</div>
<div class="container-fluid">
		<form method="Post" action="/addDefi/{{@auteur->numero}}/{{ @victime->numero }}/{{ @numeroJour }}" id="formulaire">
			  <div class="form-group">
			    <label for="defi">Défis</label>
			    <textarea class="form-control form-control-plaintext" id="defi" name="defi" rows="3" maxlength="250">{{@datas->defi}}</textarea>
			  </div>
			<button class="btn btn-primary" id="Save" data-toggle="modal" data-target="#confirmationDefi">Enregistrer</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>	</form>
</div>
<!-- The Modal -->
	  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <!--div class="modal" tabindex="-1" role="dialog"-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Avant d'enregistrer votre défi, permettez moi de vous poser et vous demander si {{ @ }} va apprécier ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Si {{ @ }} à poser des limites, les avez-vous suivi ?</p>
		  <p> Petit rappel de son message : {{ @ }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--div class="modal-dialog modal-dialog-centered" id="confirmationDefi"-->
<script type="text/javascript" src="../../App/js/defi.add.js"></script>
<script type="text/javascript" src="../../vendor/twbs/bootstrap/js/dist/modal.js"></script>
<script type="text/javascript" src="../../vendor/twbs/bootstrap/js/dist/bootstrap.min.js"></script>
