<div class="jumbotron jumbotron-fluid text-center">
		  <h1>Calendrier de {{@ami->pseudo}} ...</h1>
		  <p>Ci dessous le calendrier de {{@ami->pseudo}} concoctée par toi et vos amis commun.</p>
		  <p>les défis, attentions, portée par des tiers absent de ton cercle ne sont te sont pas visible</p> 
</div>
<div class="modal fade" id="confirmAddDefi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avant de valider, êtes vous sûr que {{@ami->pseudo}}  va apprécier ?</h5>
        <input type="hidden" name="idDuFormulaire" id="idDuFormulaire"/>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <p>Est ce que votre surprise est en accord avec le message laisser par {{@ami->pseudo}} : {{@ami->Conditions}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="GoToTheStart">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <repeat group="{{ @datas }}" key="{{ @jour }}" value="{{ @infos }}">
    <div class="card" id="{{ @jour }}">
      <div class="card-body">
        <h5 class="card-title">{{ @infos['date'] }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ @infos['nbDefiTotal'] }} défis dont {{ @infos['nbDefi'] }}  fourni par votre groupe d'ami commun</h6>
        <repeat group="{{ @infos['defis'] }}" key="{{ @id }}" value="{{ @defi }}">
          <p class="card-text" id="defiText_{{ @jour+1 }}_{{ @defi['auteur'] }}_{{ @defi['idEvent']}}">Défi #{{ @id+1 }} par {{ @defi['auteur'] }}: <span id="descDefi_{{ @jour+1}}"> {{ @defi['desc'] }}</span>
          <check if="{{ @auteur==@defi['idAuteur'] }}">
              <true>
                <a class="card-link addDefi" href="#" id="updateDefi{{@jour+1}}" data-idEvent="{{ @defi['idEvent']}}">modifier</a>
                
                <!-- il serait bien que la suppression soit en ajax -->
                <!-- tout comme l'ajout / modification des défis -->
                <a class="card-link" href="javascript:deleteDefi({{ @defi['idEvent']}})">supprimer ({{ @defi['idEvent']}})</a>                
              </true>
          </check>
          </p>
          <check if="{{ !empty(@defi['commentaireVictime'])}}">
              <true>
              <h12> Le {{ @defi['dateRealisation'] }} :  {{ @defi['commentaireVictime'] }}  </h12>
               </true>
          </check>
        </repeat>
        <p>
	        <a class="card-link addDefi" id="addDefi{{ @jour+1 }}" data-jour="{{ @jour+1 }}" href="#">Ajouter un défi</a>
			<div class="hide" id="addDefi_{{ @jour+1 }}">
				<form id="formulaire_{{ @jour+1 }}">
					<input type="text" name="auteur" id="auteur_{{ @jour+1 }}" value="{{@auteur}}" />
					<input type="text" name="victime" id="victime_{{ @jour+1 }}" value="{{@ami->uid}}" />
          <input type="text" name="idEvent" id="idEvent_{{ @jour+1 }}" value="" />
					<input type="text" name="jour" value="{{ @jour+1 }}" />
				  <div class="form-group">
					<label for="defi">Défis</label>
					<textarea class="form-control form-control-plaintext" id="defi_{{ @jour+1 }}" name="defi" rows="3" maxlength="250"></textarea>
				  </div>
          <a class="btn btn-primary" id="Save_{{ @jour+1 }}" data-jour="{{ @jour+1 }}" data-toggle="modal" data-target="#confirmAddDefi" data-victime="{{@ami->pseudo}}" href="#" role="button">Enregistrer</a>
				</form>
			</div>
      </p>
      </div>
    </div>
  </repeat>	
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".hide").hide();

    $("#GoToTheStart").click(function(){
      var idForm = $("#idDuFormulaire").val();
      var auteur = $("#auteur_"+idForm).val();
      var victime = $("#victime_"+idForm).val();
      var idEvent = $("#idEvent_"+idForm).val();
      var defi = $("#defi_"+idForm).val();
      var url = "/addDefi/{{@auteur}}/{{@ami->uid}}/"+idForm;
      if(idEvent.trim() != '')
      {
        url = url+"/"+idEvent;
      }
      var data = {auteurId:auteur, 
                  victimeId:victime, 
                  defi:defi, 
                  jour:idForm,
                  idEvent:idEvent}
                  ;
      console.log("idForm : "+idForm);
      console.log("auteur : "+auteur);
      console.log("victime : "+victime);
      console.log("idEvent : "+idEvent);
      console.log("defi : "+defi);
      console.log("datas : "+data);
      console.log("url : "+url);
      var modal = $(this)
      $.post({url: url,
              data: data,
               success: function(result){
             console.log('SUCCESS : '+result);
             var resultat = JSON.parse(result);
             var idParagraphe = "defiText_"+resultat.jour+"_"+resultat.auteur+"_"+resultat.idEvent;
             console.log(idParagraphe);
             var nouveauText = "Défi #{{ @id+1 }} par "+resultat.auteurNom+": <span id='descDefi_"+resultat.jour+"'> "+resultat.defi+"</span><a class='card-link addDefi' href='#' id='updateDefi"+resultat.jour+"' data-idEvent='"+resultat.idEvent+"'>modifier</a><a class='card-link' href='javascript:deleteDefi("+resultat.idEvent+")'>supprimer</a> ";
                var nouveauParagraphe = "<p class='card-text' id='"+idParagraphe+"'>"+nouveauText+"</p>";
             //si update on remplace le P déjà utilisé
             if($("#"+idParagraphe).length){
                $("#"+idParagraphe).text(nouveauText);
             } else {
             //si ajout on ajoute une ligne avec ce nouveau défi
                $("#"+idParagraphe).text(nouveauText);
             }
             // et enfin on dégage cette putain de modal!!!
             $("#addDefi_"+resultat.jour).hide();
             $('#confirmAddDefi').modal('hide');
          }})
        .done(function(e){
            console.log("test : Done" );
          })
        .fail(function(e) {
            console.log( "error" +e);
          })
        .always(function() {
            console.log( "complete" );
          })
        ;

    });

	  // avant envoie du formulaire, on fait une alerte pour s'assurer que le défi conviendra à sa victime
		$('#confirmAddDefi').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget) // Button that triggered the modal
			  var jour = button.data('jour') // Extract info from data-* attributes
			  var idEvent = button.data('idEvent') // Extract info from data-* attributes
			  var victime = button.data('victime') // Extract info from data-* attributes
        $("#idDuFormulaire").val(jour);
			  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
			  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

			  var modal = $(this)

        if($("#auteur_"+jour).val() == undefined || $("#auteur_"+jour).val() == '')
        {
          alert('Désolé, nous avons perdu votre connexion. veuillez vous déconnecter et reconnecter');
          modal.dismiss();
          return false;
        } else  if($("#victime_"+jour).val() == undefined || $("#victime_"+jour).val() == '')
        {
          alert('Désolé, nous avons perdu votre connexion. veuillez vous déconnecter et reconnecter');
          modal.dismiss();
          return false;
        } else if($("#defi_"+jour).val() == undefined || $("#defi_"+jour).val() == '')
        {
          if($("#idEvent_"+jour).val() != '') {
            alert('Le texte de la surprise/défi choisi est obligatoire. Si vous souhaitez supprimer votre attention, merci de cliquer sur supprimer');
          modal.dismiss();
          return false;
          }
          else {
            alert('Le texte de la surprise/défi choisi est obligatoire');
          modal.dismiss();
          return false;
          }
        }
			});
  
  <repeat group="{{ @datas }}" key="{{ @jour }}" value="{{ @infos }}">
    $("#addDefi{{ @jour+1 }}").click(function(){
      $("#idEvent_{{ @jour+1 }}").val('');
      $("#defi_{{ @jour+1 }}").val('Ecrire ici');
      $("#addDefi_{{ @jour+1 }}").show();
    });
      <repeat group="{{ @infos['defis'] }}" key="{{ @id }}" value="{{ @defi }}">
        $("#updateDefi{{@jour+1}}").click(function(){
          $("#idEvent_{{ @jour+1 }}").val({{ @defi['idEvent']}});
          $("#defi_{{ @jour+1 }}").val("{{ @defi['desc'] }}");
          $("#addDefi_{{ @jour+1 }}").show();
        });
      </repeat>
  </repeat>
//prompt un message de confirmation que les conditions de la victime sont réalisés
});
</script>
<!--script type="text/javascript" src="/../App/js/defi.add.js"></script-->