<div class="jumbotron jumbotron-fluid text-center">
		  <h1>Calendrier de {{@datas->identifiant}} ...</h1>
		  <p>Ci dessous le calendrier de {{@datas->identifiant}} concoctée par toi et vos amis commun.</p>
		  <p>les défis, attentions, portée par des tiers absent de ton cercle ne sont te sont pas visible</p> 
</div>
<div class="container-fluid">
  <!--repeat group="{{ @datas }}" value="{{ @jour }}" key="{{ @ikey }}"-->
  <repeat group="{{ @datas }}" key="{{ @jour }}" value="{{ @infos }}">
    <div class="card" id="{{ @jour }}">
      <div class="card-body">
        <h5 class="card-title">{{ @infos['date'] }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ @infos['nbDefiTotal'] }} défis dont {{ @infos['nbDefi'] }}  fourni par votre groupe d'ami commun</h6>
        <repeat group="{{ @infos['defis'] }}" key="{{ @id }}" value="{{ @defi }}">
          <p class="card-text">Défi #{{ @id+1 }} par {{ @defi['auteur'] }}:  {{ @defi['desc'] }}</p>
        </repeat>
        <a class="card-link" href="addDefi/{{ @auteur }}/{{ @ami }}/{{ @jour+1 }}">Ajouter un défi</a>
      </div>
    </div>
  </repeat>	
</div>