<div class="jumbotron jumbotron-fluid text-center">
	<check if="{{ @mode=='update' }}">
    <true>
		  <h1>Mon Profil {{@pseudo}} ...</h1>
		  <p>Tes amis peuvent te laisser des défi, toutefois tu peux leur donner des idées ou des contraintes.</p>
		  <p>ex: Tu peux interdire tout défi sur ton lieu de travail ou  donner une autre limite de temps par exemple</p> 
    </true>
    <false>
		  <h1>{{@pseudo}}, tu souhaites qu'un ami nous rejoigne ? Inscrit le</h1>
		  <p>Ne te trompes pas dans son adresse mail si tu veux qu'il reçoive l'invitation</p> 
    </false>
</check>
</div>
<check if="{{ isset(@msg) }}">
	<true><p class="text-success">{{@msg}}</p></true>
</check>
<div class="container-fluid">
	<check if="{{ @mode=='update' }}">
    <true>
	<form method="Post" action="/MonProfil/{{@datas->uid}}" id="formulaire">
    </true>
    <false>
	<form method="Post" action="/invite" id="formulaire">
    </false>
</check>
		<div class="form-group row">
		    <label for="staticPseudo" class="col-sm-2 col-form-label">Pseudo</label>
		    <div class="col-sm-10">
		      <input type="hidden" readonly name="uid" value="{{@datas->uid}}">
		      <input type="text" readonly class="form-control-plaintext" name="Pseudo" id="staticPseudo" value="{{@datas->pseudo}}">
		    </div>
		  </div>		
		<div class="form-group row">
		    <label for="Nom" class="col-sm-2 col-form-label">Nom</label>
		    <div class="col-sm-10">
		      <input type="text" readonly class="form-control" name="Nom" id="Nom" value="{{@datas->nom}}">
				<span id="NomErreur" class="form-control-danger"></span>
		    </div>
		  </div>
		<div class="form-group row">
		    <label for="Prenom" class="col-sm-2 col-form-label">Prénom</label>
		    <div class="col-sm-10">
		      <input type="text" readonly class="form-control" name="Prenom" id="Prenom" value="{{@datas->prenom}}">
				<span id="PrenomErreur" class="form-control-danger"></span>
		    </div>
		  </div>
		<div class="form-group row">
		    <label for="Email" class="col-sm-2 col-form-label">Email</label>
		    <div class="col-sm-10">
		      <input type="text" readonly class="form-control" name="email" id="Email" value="{{@datas->email}}">
				<span id="EmailErreur" class="form-control-danger"></span>
		    </div>
		  </div>
	<check if="{{ @mode=='update' }}">
	    <true>
			  <div class="form-group">
			    <label for="conditions">Commentaires général à destination de mes amis</label>
			    <textarea class="form-control form-control-plaintext" id="conditions" name="Conditions" rows="3" maxlength="250">{{@datas->conditions}}</textarea>
			  </div>
	    </true>
	    <false>
			  <div class="form-group">
			    <label for="message">Message d'invitation à transmettre</label>
			    <textarea class="form-control form-control-plaintext" id="message" name="message" rows="3" maxlength="250">Hey, viens on va se faire un super calendrier de l'Avent</textarea>
			  </div>
	    </false>
	</check>
	<repeat group="{{@amis}}" value="{{@ami}}" key="{{@cle}}">
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <div class="input-group-text">
		      <input type="checkbox" aria-label="Checkbox for following text input" value="{{@ami->uid}}" checked name="amis[]">{{@ami->pseudo}}[{{@ami->prenom}}]
		    </div>
		  </div>
		</div>
	</repeat>
		<check if="{{ @mode!='update' }}">
		    <true>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <div class="input-group-text">
		      <input type="checkbox" aria-label="Checkbox for following text input" value="{{@uid}}" checked name="amis[]">{{@pseudo}}
		    </div>
		  </div>
		</div>
			</true>
		</check>
		  <button class="btn btn-primary" id="Save" type="submit">Enregistrer</button>
  	</form>
</div>

	<check if="{{ @mode=='update' }}">
    <true>
		<script type="text/javascript" src="/../App/js/profil.update.js"></script>
    </true>
    <false>
    	<script type="text/javascript" src="/../App/js/profil.invite.js"></script>
    </false>
</check>
<script type="text/javascript" src="/../App/js/profil.js"></script>